<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlt.mapper.ClassMapper">
    <select id="findAllClass" resultType="com.zlt.pojo.EduClass">
            select * from edu_class
        </select>
    <select id="findClassByClassId" resultType="com.zlt.pojo.EduClass" parameterType="java.lang.String">
            select * from edu_class where classId =#{classId}
        </select>
    <insert id="addClass" parameterType="com.zlt.pojo.EduClass" >
            INSERT INTO edu_class (classId, className, classNumber, createTime, updateTime, reverse1, reverse2) VALUES (#{classId}, #{className}, #{classNumber}, #{createTime}, #{updateTime}, #{reverse1}, #{reverse2})
        </insert>
    <delete id="deleteClass" parameterType="java.lang.String">
            delete from edu_chapter where classId =#{classId}
        </delete>
    <update id="updateClass" parameterType="com.zlt.pojo.EduClass">
            UPDATE updateChapter SET className=#{className}, classNumber=#{classNumber}, createTime=#{createTime}, updateTime=#{createTime}, reverse1=#{reverse1}, reverse2=#{reverse2} where classId =#{classId}
        </update>
</mapper>