<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlt.mapper.EmojiMapper">
    <select id="findAllEmoji" resultType="com.zlt.pojo.EduEmoji">
            select * from edu_emoji
        </select>
</mapper>