<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlt.mapper.PaperTorfMapper">
    <select id="findAllPaperTorf" resultType="com.zlt.pojo.EduPapertorf">
            select * from edu_papertorf
        </select>
    <select id="findPaperTorfById" resultType="com.zlt.pojo.EduPapertorf" parameterType="java.lang.String">
            select * from edu_papertorf where paperId=#{paperId}
        </select>
    <insert id="addPaperTorf" parameterType="com.zlt.pojo.EduPapertorf" >
            INSERT INTO edu_papertorf (id, paperId, torfId, createTime, updateTime, reserv1, reserv2) VALUES (#{id}, #{paperId}, #{torfId}, #{createTime}, #{updateTime}, #{reserv1}, #{reserv2})
        </insert>
    <delete id="deletePaperTorf" parameterType="java.lang.String">
            delete from edu_papertorf where id=#{id}
        </delete>
    <update id="updatePaperTorf" parameterType="com.zlt.pojo.EduPapertorf">
            UPDATE edu_papertorf SET paperId=#{paperId}, torfId=#{torfId}, createTime=#{createTime}, updateTime=#{createTime}, reserv1=#{reserv1}, reserv2=#{reserv2} where id=#{id}
        </update>
</mapper>

